{% extends 'music/base.html' %}
{% block title %}Adicionar um Novo Album{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Adicionar um Novo Album</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'music/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>O que é o Vibre ?</h3>
                    <p>Vibre é uma aplicação que permite você fazer o upload e salvar todas as suas músicas na nuvem !</p>
                    <h3>Como eu adiciono uma música ?</h3>
                    <p>Primeiro, crie um album nesta página. Uma vez criado, você será capaz de adicionar / uploadar suas músicas.</p>
                    <h3>Algumas dicas para melhor uso da aplicação ?</h3>
                    <ul>
                        <li>A imagem do album deve ter uma resolução de 512x512</li>
                        <li>Use um formato comum de imagem como .JPG, .GIF, ou .PNG</li>
                        <li>Lembre-se que o limite é de 2MB.</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}
